body {
    /* color: #5a5a5a; */
    overflow-x: hidden;
    
  }

  .bg_video{
    position: absolute; 
    
  }
  
  a:link{
    text-decoration: none;
  }
  
  .slogan{
    
   color: white;
    font-size: 80px;
    
  }
  /*inicio servicos*/
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  

  #proximasessao{
    animation: seta 800ms steps(40)infinite normal;
    
  }

@keyframes seta{
  from{
    height: 40px;
  }
  to{
    height: 45px;
  }
}
@media(min-width:1000px){
.line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: white;
  white-space: nowrap;
  overflow: hidden;
}
.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 3s steps(40) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(129, 129, 129, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
}
  
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  
  .barradivisao-divider {
    margin: 5rem 0; 
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  .imagemservico{
     width:450px;
     height:450px;
     background-color: #30475E;
     border-radius: 20px;
  }
  
  @media(max-width:720px){
    .imagemservico{
      width: 500px;
      height: 390px;
    }
  }
  
  
  footer {
    color: #30475e;
  }
  
